.data-features {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 24px;
}

.modal-cars-modal {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  padding-right: 0px;
}

.features-wrapper-modal {
  margin-top: 20px;
  margin-bottom: 20px;
}

.data-character {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 10px;
  padding-right: 100px;
}
.modal-cars-modal {
  margin: 0 auto;
}
