.type-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 360px;
}

.catalog-type {
  width: calc(33.33% - 10px);
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 17px 18px;
  width: 115px;
  height: 95px;
  cursor: pointer;
  text-align: center;
}

.catalog-type:hover {
  border: 1px solid #e44848;
  stroke: #e44848;
  fill: #e44848;
}
.type-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #101828;
}
.type-type-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}
