.car-photo {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.advertisement {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  max-width: 36.5rem;
  width: 100%;
}
.car-icons {
  display: flex;
  padding: 20px 0;
}

.data-icons {
  border-radius: 100px;
  width: 100%;
  color: #101828;
  background-color: #f2f4f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}
.cards-submit {
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  padding: 8px;
  font-size: 0.8rem;
  color: white;
  background-color: #e44848;
  border-radius: 200px;
  width: 173px;
  height: 56px;
}
