.catalog-car {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: #fff;
  width: 888px;
}
.wrapper {
  display: flex;
  width: 526px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  margin-top: 16px;
}
.car-photo {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 24px;
}
.car-details {
  width: 100%;
  flex: 1;
}

.car-container {
  display: flex;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}

.title-cars {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.title-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin-left: auto;
}
.rating-wrapper {
  display: flex;
  gap: 16px;
}

.rating-container {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-self: stretch;
}

.data-icons {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.cards-submit,
.loadmore {
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  padding: 8px;
  font-size: 0.8rem;
  color: white;
  background-color: #e44848;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.icon-container {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.heart {
  padding-left: 10px;
  fill: fff;
  stroke: black;
  cursor: pointer;
}
.heart:hover {
  fill: #e44848;
  stroke: #e44848;
}

.rating {
  margin-right: 5px;
}
.catalog-cars {
  display: block;
  align-items: end;
  margin-right: auto;
}
