nav {
  display: flex;
  background-color: #333;
  /*  justify-content: end; */
  padding: 10px;
  box-shadow: 10px 5px 5px black;
  transition: all 0.3s linear 0s;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

nav a.active {
  background-color: #555;
}
