nav {
  display: flex;
  background-color: #333;
  justify-content: flex-end;
  padding: 10px;
  box-shadow: 10px 5px 5px black;
  transition: all 0.3s linear 0s;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  font-size: 26px;
}

nav a.active {
  background-color: #555;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  animation-name: moveRight;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill: #e44848;
  stroke: #e44848;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}
