.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-help {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fff;
  border-radius: 20px;
  padding: 15px 30px 15px 30px;
  width: 982px;
  height: 720px;
  overflow-y: auto; /* Прокрутка, якщо контент перевищує розмір модального вікна */
}
.close-button {
  position: absolute;
  top: -12px;
  right: 12px;
  cursor: pointer;
  stroke-width: 1.5px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  border-radius: 10px;
  height: 310px;
  align-items: center;
  resize: none;
}
.car-modal-detal {
  display: flex;
  flex-direction: column;
}
.rating-modal-wrapper {
  display: flex;
  flex-direction: row;
}
.car-photo-modal {
  width: 290px;
  height: 310px;
  object-fit: cover;
}
.rating-modal-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
  text-decoration-line: underline;
}
.car-reviews {
  text-decoration-line: underline;
}

.car-datail-review {
  display: flex;
}

.local-modal {
  margin-left: 20px;
}
