.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-help {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  width: 982px;
  height: 720px;
  overflow-y: auto; /* Прокрутка, якщо контент перевищує розмір модального вікна */
}
.close-button {
  position: absolute;
  top: -12px;
  right: 12px;
  cursor: pointer;
  stroke-width: 1.5px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
