.modal-overlay {
  margin-top: 20px;
}
.modal-help {
  border-radius: 20px;
  padding: 40px;
  width: 982px;
  height: 720px;
  background-color: #fff;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px auto;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  padding: 1.4rem;
  max-width: 54rem;
  width: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 20px;
}

.close-button {
  position: absolute;
  top: -12px;
  right: 12px;
  cursor: pointer;
  stroke-width: 1.5px;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
