.form-container {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
}
input[type='text'],
input[type='email'],
input[type='date'],
textarea {
  width: 100%;
  border-radius: 10px;
  padding: 18px;
  width: 400px;
  height: 56px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  margin: 10px 0;
}
.features-submit {
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  padding: 8px;
  font-size: 0.8rem;
  color: white;
  background-color: #e44848;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.features-submit:hover {
  background-color: #e42828;
}
.data-container {
  flex-direction: column;
  gap: 14px;
  display: flex;
}
.data-character {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-container {
  position: relative;
}

.calendar-overlay {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
